article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  background: #222; }

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

a {
  text-decoration: none; }

header {
  background: #111;
  padding-bottom: 20px; }

nav {
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  nav ul {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-grow: 0.4;
    -ms-flex-positive: 0.4;
    flex-grow: 0.4;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    nav ul a {
      color: white; }
  nav .fa {
    font-size: 20px; }

.logo {
  color: black;
  padding: 10px;
  margin: 0;
  height: 0;
  width: 0;
  -webkit-transform: scale(0.65);
  -ms-transform: scale(0.65);
  transform: scale(0.65);
  color: white; }
  .logo h1 {
    font-size: 35px;
    margin: 0 auto;
    text-transform: uppercase; }
  .logo span {
    display: block; }
  .logo h2 {
    display: block;
    font-size: 19px;
    font-weight: 200;
    margin: 0 auto; }

.left {
  width: 55%;
  padding-top: 20px; }
  .left iframe {
    padding: 0 5px 0 5px;
    width: 100%;
    height: 100%; }
  .left h3 {
    display: block;
    color: #A9A9A9;
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: 400; }
    .left h3 i {
      margin-left: 10px;
      font-size: 25px;
      color: #A9A9A9; }

.right {
  width: 45%; }

.form h2 {
  margin-bottom: 0;
  font-size: 75px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase; }

.form p {
  padding-left: 25px;
  color: #A9A9A9; }

form {
  padding-left: 20px; }
  form input {
    display: block;
    margin: 5px 0 5px 0; }
  form input[type=text] {
    background: rgba(0, 0, 0, 0.25);
    border: none;
    display: inline;
    height: 30px;
    width: 150px; }
  form input[type=email] {
    background: rgba(0, 0, 0, 0.25);
    border: none;
    height: 30px;
    width: 350px; }
  form textarea {
    background: rgba(0, 0, 0, 0.25);
    border: none;
    width: 400px;
    height: 200px;
    color: #A9A9A9;
    font-size: 14px; }
  form input[placeholder="First Name"], form input[placeholder="Last Name"], form input[placeholder="Email Address"] {
    font-size: 14px;
    padding: 10px;
    color: #A9A9A9; }
  form label {
    display: none; }
  form input[type=submit] {
    background: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-size: 14px;
    color: #A9A9A9;
    border: none;
    padding: 9px 20px; }

@media (max-width: 940px) {
  .left {
    width: 55%; }
    .left iframe {
      padding: 0px 5px 0px 5px; }
    .left h3 {
      margin: auto;
      font-size: 15px;
      padding-left: 10px;
      font-weight: 400; }
      .left h3 i {
        margin-left: 10px;
        font-size: 20px; }
  .right {
    width: 45%; }
  .form h2 {
    font-size: 65px;
    margin-top: 30px; }
  .form p {
    padding-left: 10px; }
  form {
    padding-left: 10px; }
    form input {
      display: block;
      margin: 2px 0 2px 0; }
    form input[type=text] {
      height: 20px;
      width: 120px; }
    form input[type=email] {
      height: 20px;
      width: 275px; }
    form textarea {
      width: 325px;
      height: 250px; }
    form h3 {
      display: none; } }

@media (max-width: 768px) {
  body {
    background: transparent; }
  main {
    background: url(../images/Birdie.jpg);
    background-size: cover;
    height: 100vh; }
  .left {
    width: 0;
    display: none; }
  .right {
    width: 100%;
    padding-left: 20px; }
  .form h2 {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.9); }
  .form p {
    padding-left: 25px;
    color: black;
    font-weight: 700; }
  form {
    padding-left: 20px; }
    form input {
      display: block;
      margin: 5px 0 5px 0; }
    form input[type=text] {
      background: rgba(0, 0, 0, 0.8);
      display: inline;
      height: 30px;
      width: 150px; }
    form input[type=email] {
      background: rgba(0, 0, 0, 0.8);
      height: 30px;
      width: 350px; }
    form textarea {
      background: rgba(0, 0, 0, 0.8);
      margin: 2px 0 2px 0;
      border: none;
      width: 400px;
      height: 200px;
      color: white;
      font-size: 14px; }
    form input[placeholder="First Name"], form input[placeholder="Last Name"], form input[placeholder="Email Address"] {
      font-size: 14px;
      padding: 10px;
      color: white; }
    form input[type=submit] {
      background: rgba(0, 0, 0, 0.9);
      color: white; }
    form h3 {
      display: block;
      color: Black;
      margin-bottom: 40px; }
      form h3 i {
        color: black;
        margin-left: 10px;
        font-size: 25px; } }

@media (max-width: 480px) {
  header {
    height: 80px; }
  .logo {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  nav {
    font-size: 14px; }
  form textarea {
    width: 90%;
    height: 250px; }
  form input[type=email] {
    width: 85%; }
  form input[type=text] {
    width: 40%; } }
