@import 'set-up';
@import 'variables';
@import 'mixins';

body {
	width: 100%;
	background: #222;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

header {
	height: 100px;
	background: #111;
}


nav {
	@include nav (0.4, space-around);
	justify-content: flex-end;
}

.logo {
	@include logo(2px);
	transform: scale(0.65);
	color: white;
}

.gallery {
	padding-top: 20px;
	img {
		position: fixed;
		display: block;
		height: 600px;
		margin: 1%;
	}
}

@media (max-width: 950px) {
	.wrapper {
		width: 98%;
		margin: 0 auto;
	}
	.gallery {
		padding-top: 30px;
		img {
			height: 500px;
		}
	}
}


@media (max-width: 768px) {

	header {
		a {
			width: 15%;
			.logo {
				margin: 0;
			}
		}
		nav {
			width : 85%;
			float: right;
			ul li {
				margin:0 2px 0 2px;
			}
		}
	}

	,flickity-viewport {
		height: 600px;
	}

	.gallery {
		padding-top: 40px;
		img {
			height: 400px;
		}
	}
}


@media (max-width: 480px) {
	header {
		height: 80px;
		.logo {
			transform: scale(0.5);
			}
		}
		.gallery {
		padding-top: 50px;
		img {
			height: 300px;
		}
	}

	
}

